/* ********* general ********** */
.wrapper{
    height: 100vh;
    background-color: red;
    /* overflow: hidden; */
}
.rm-debug{
    margin:1px solid black
}

/* ***** header*******  */
#nav{
    height: 80px;
    width: 100%;
    background-color: blueviolet;
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
}

/*  ************ main *********+ */
main{
    width: 100%;
    height: 100%;
}
/* ****** sidebar *********** */
#sidebar{
    width: 200px;
    background-color: aqua;
    height: 100%;
    padding-top: 80px;
}
/* ******* mainpage */
#mainpage{
    overflow-y: auto;
    padding-top: 80px;
    height: 100%;
    width: calc(100% - 200px);
}
.square-blue{
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: lightblue
}
/* ********* col table ******** */
.icon-nome {
    width: 30px;
    height: 30px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ********** col f.a.q. ******+*/
#left-bottom .accordion-button:not(.collapsed) {
    background-color: ;

}
/* ******** query ********* */
