/* ********* general ********** */
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: red;
    overflow: hidden;
}
.rm-debug{
    margin:1px solid black
}

/* ***** header*******  */
#nav{
    height: 80px;
    width: 100%;
    background-color: blueviolet;
    position: fixed;
    top:0;
    left: 0;
    z-index: 3000;
}
/*  ************ main *********+ */
main{
    width: 100%;
    height: 100%;
    display: flex;
}
/* ****** sidebar *********** */
#sidebar{
    width: 200px;
    background-color: #052c65;;
    height: 100%;
    padding-top: 80px;
}
#sidebar span {
    display: none;
}
/* ******* mainpage */
#mainpage{
    overflow-y: auto;
    padding-top: 80px;
    height: 100%;
    width: calc(100% - 200px);
    background-color: beige;
}
.square-blue{
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: lightblue
}
/* ********* col table ******** */
.icon-nome {
    width: 30px;
    height: 30px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ********** col f.a.q. ******+*/

/* ******** query ********* */
@media screen and (max-width: 578px){
    .mainpage {
        width: calc(100% - 100px);
        height: 100%;
    }
    #sidebar {
        width: 100px;
    }
    .data-table,
    .roi-table {
        display: none;
    }
}
@media screen and (max-width: 768px)
{

}
@media screen and (max-width:992px){
    .mainpage {
        width: calc(100% - 200px);
    }
    #sidebar {
        width: 200px;
    }
    #sidebar a {
        font-size: 1em;
    }
    #sidebar span {
        display: block;
    }
}
